.App {
  text-align: center;
  height: 100vh;
 
  display: flex;
  align-items: center;
}

.login{
  
  margin: auto auto;
 
}

.login input{
  border-radius: 15px;
}

.login_presentation{
 
  display: flex;
  justify-content: center;
  align-items:flex-start;
}